*.a
*.d
*.o
*.exe
*.map
libbsd.html
freebsd/sbin/route/keywords.h
freebsd/include/rpc/rpcb_prot.h
freebsd/lib/libipsec/y.tab.h
freebsd/lib/libipsec/policy_parse.c
freebsd/lib/libipsec/policy_token.c
freebsd/lib/libc/net/nsparser.h
freebsd/lib/libc/net/nslexer.c
freebsd/lib/libc/net/nsparser.c
rtemsbsd/rtems/rtems-kvm-symbols.c
rtemsbsd/include/machine/rtems-bsd-kernel-space.h
/*.i
/*.s
/log
