# Please keep users, directories and files  sorted alphabetically.
# Directories first

[General Maintainer] @approvers/general/maintainer @eagleirony
*

[Documentation] @approvers/docs
*/README
*.md
*.txt

