# Please keep users, directories and files  sorted alphabetically.
# Directories first

[General Maintainer] @approvers/general/maintainer @approvers/pkg/libbsd
*

[Documentation] @approvers/docs
*/README
*.md
*.txt

